.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.main {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.ui.top.fixed.menu {
  background-color: #1b1c1c;
  width: 100%;
  border-bottom: solid rgba(255, 255, 255, 0) 0.1px;
}

.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

div.image-group {
  transition: transform 0.5s;
  padding: 10px;
}

h1.ui.dividing.header {
  border-radius: 50px;
}

div.image-group:hover {
  transform: scale(1.3);
}
.scroll {
  opacity: 0.5;
  background-color: #6b747d;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 5px;
  border: none;
  transition: transform 0.2s;
}
.scroll:hover {
  opacity: 1;
  transform: scale(1.1);
}

.ui.small.image,
.ui.small.images .image,
.ui.small.images img,
.ui.small.images svg {
  margin: 10px;
}

.ui.image.Tensorflow {
  width: auto !important;
  height: 100px !important;
}

.ui.cards > .card {
  transition: transform 0.2s;
  margin: 15px;
}

.ui.cards {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hover:hover {
  transform: scale(1.1);
}

.ui.horizontal.list > .item > i.icon {
  transition: transform 0.2s;
}

.ui.horizontal.list > .item > i.icon:hover {
  transform: scale(1.5);
}

.about-me {
  padding: 40px;
}
#about-me {
  height: 90vh;
}
#about-header {
  background-color: rgba(0, 10, 10, 0.5);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  font-size: 50px;
}

#skills {
  min-height: 50vh;
}

.skills-img {
  height: 500px;
}

#skills-header {
  background-color: rgba(0, 10, 10, 0.5);
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5%;
  font-size: 50px;
  color: white;
}

.myName {
  float: right;
}

.img-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.ui.medium.image {
  border-radius: 5%;
}

.bottom-list {
  background-color: black;
  width: 100vw;
  height: 15vh;
  padding: 20px !important;
  border-top: solid darkgreen 6px;
}

.parallax-cont {
  font-family: sans-serif;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 300px) {
  .page-body {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    padding: 13vw;
  }

  .about-me {
    padding: 15px;
  }

  .hover {
    width: auto;
    height: auto;
  }

  .ui.medium.image {
    max-width: 100%;
    height: 100%;
    padding: 10px;
    align-self: center;
    border-radius: 5%;
  }

  .paragraphs {
    padding: 1px;
    font-size: x-large;
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  }

  .profile {
    display: flex;
    flex-direction: column;
  }
  h1.ui.header {
    text-align: center;
  }
}

@media (min-width: 700px) {
  .page-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5vh;
  }

  .hover {
    width: auto;
    height: auto;
  }

  .paragraphs {
    padding: 20px;
    font-size: medium;
  }

  .profile {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 900px) {
  .page-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0vh;
  }

  .paragraphs {
    padding: 20px;
    font-size: large;
  }

  .profile {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1100px) {
  .page-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20vh;
  }

  .ui.cards > .card {
    width: 30vw;
    height: auto;
  }

  .paragraphs {
    padding: 20px;
    font-size: medium;
  }

  .profile {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1300px) {
  .page-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20vh;
  }

  .ui.cards > .card {
    width: 30vw;
    height: auto;
  }

  .paragraphs {
    padding: 20px;
    font-size: large;
  }

  .profile {
    display: flex;
    flex-direction: row;
  }
}
