.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.main {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.technologies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ui.images>.image {
  transition: transform .5s;
}

.ui.images>.image:hover {
  transform: scale(1.3);
}

.ui.small.image, .ui.small.images .image, .ui.small.images img, .ui.small.images svg {
  margin: 10px;
}

.ui.cards>.card {
  transition: transform .2s;
  margin: 15px;
}

.ui.cards {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hover:hover {
  transform: scale(1.1);
}

.ui.horizontal.list>.item>i.icon {
  transition: transform .2s;
}

.ui.horizontal.list>.item>i.icon:hover {
  transform: scale(1.5);
}

.about-me {
  padding: 40px;
}

.myName {
  float: right;
}

.ui.medium.image{
  border-radius: 5%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 300px){
  .page-body {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    padding: 13vw;
  }

  .about-me {
    padding: 15px;
  }

  .hover {
    width: auto;
    height: auto;
  }

  .ui.medium.image{
    max-width: 100%;
    height: 100%;
    padding: 10px;
    align-self: center;
    border-radius: 5%;
  }

  .paragraphs {
    padding: 1px;
    font-size: x-large;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  }

  .profile {
    display: flex;
    flex-direction: column;
  }
h1.ui.header {
    text-align: center;
  }
}

@media (min-width: 700px){
  .page-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5vh;
  }

  .hover {
    width: auto;
    height: auto;
  }

  .paragraphs {
    padding: 20px;
    font-size: medium;
  }

  .profile {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 900px){
  .page-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0vh;
  }

  .paragraphs {
    padding: 20px;
    font-size: large;
  }

  .profile {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1100px){
  .page-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20vh;
  }

  .ui.cards>.card {
    width: 30vw;
    height: auto;
  }

  .paragraphs {
    padding: 20px;
    font-size: medium;
  }

  .profile {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1300px){
  .page-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20vh;
  }

  .ui.cards>.card {
    width: 30vw;
    height: auto;
  }

  .paragraphs {
    padding: 20px;
    font-size: large;
  }

  .profile {
    display: flex;
    flex-direction: row;
  }
}